:root {
  --main: rgb(52, 152, 219);
  --main-gray: rgb(238, 238, 238);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Share Tech Mono", monospace;
  color: var(--main);
}

a,
a:link,
a:visited {
  color: var(--main);
  background-color: transparent;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px !important;
  display: flex;
  flex-direction: row;
}

.hidden,
.collapse {
  display: none;
  visibility: hidden;
}

.show {
  display: flex;
  visibility: visible;
}

.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--main-gray);
  padding: 20px;
  align-items: center;
}

.nav-name {
  font-size: 25px;
}

.nav-toggle {
  font-size: 25px;
  color: var(--main);
  margin-left: auto;
  display: none;
  visibility: hidden;
}

.nav-top {
  display: flex;
  justify-content: start;
}

.nav-collapse {
  flex-direction: row;
  margin-left: auto;
}

.nav-img {
  height: 15rem;
  width: auto;
  border-radius: 50%;
  padding: 5px;
}

.nav-item {
  font-size: 20px;
  padding: 10px;
  justify-content: space-evenly;
}

.nav-item > a {
  padding: 5px;
}

.menu-open-background {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 875px) {
  .navbar {
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-top {
    width: 100%;
  }

  .nav-toggle {
    display: flex;
    visibility: visible;
  }

  .nav-collapse {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto auto;
    transition: all 650ms ease-in-out;
  }

  ul {
    flex-direction: column;
  }
}
